.hero-section {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-start;
    align-items: center;
    padding: 2rem;
    background: linear-gradient(to right, #02030f, #0f073b);
    height: 100vh;
    width: 100vw;
    &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 100%;
        height: 150px;
        background: linear-gradient(to top, #030412 0%, transparent 100%);
        z-index: 20;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .hero-text {
        position: relative;
        max-width: 90%;
        margin-left: 10%;
        z-index: 1;
        
        @media (max-width: 768px) {
            text-align: center;
            margin-left: 0;
            padding: 0 1rem;
            max-width: 100%;
        }
        h1 {
            font-size: clamp(3rem, 5vw, 6rem);
            font-weight: 700;
            color: #fff;
            text-shadow: 0 0 15px rgba(8, 242, 193, 0.7);
            font-family: 'Orbitron', sans-serif;
            font-optical-sizing: auto;
            line-height: 1;
            padding-bottom: 2rem;

        }
        h3 {
            font-size: clamp(1rem, 2vw, 1.8rem);
            font-weight: 700;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-optical-sizing: auto;
            padding-bottom: 1rem;
        }
        p {
            font-size: clamp(0.8rem, 1vw, 1.2rem);
            font-weight: 300;
            color: #fff;
            font-family: 'Montserrat', sans-serif;
            font-optical-sizing: auto;
        }
        .btn-container {
            display: flex;
            justify-content: start;
            align-items: center;
            padding-top: 2rem;
            gap: 1rem;
            @media (max-width: 768px) {
                flex-direction: column;
            }
            .btn {
                background-color: rgba(0, 255, 251, 0.7);
                color: #fff;
                font-weight: 700;
                font-family: 'Montserrat', sans-serif;
                font-optical-sizing: auto;
                border-radius: 0;
                padding: 0.75rem 1rem;
                border: none;
                cursor: pointer;
                &.btn-secondary {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;
                    white-space: nowrap;
                    background-color: transparent;
                    color: #fff;
                    border: 1px solid rgba(0, 255, 251, 0.7);
                }
            }
        }
    }
    /*.hero-image {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        align-items: center;
        height: 100%;
        width: 80%;
        img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            transform: scale(0.8);
        }
        @media (max-width: 768px) {
            position: relative;
            max-height: 50%;
            img {
                transform: rotate(-50deg) scale(1.5);
            }
        }
    } */
    .hero-image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 80%;
        @media (max-width: 768px) {
            height: 40%;
        }
        img {
            max-width: 300px;
            max-height: 300px;
            border-radius: 50%;
            overflow: hidden;
            background-color: white;
            object-fit: contain;
            border: 2px solid rgba(0, 255, 251, 0.7);
            transform: scale(0.8);
            box-shadow: 0 0 20px 5px rgba(0, 255, 251, 0.7);
        }
        
    }
    .stars-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index:0;
        overflow: hidden;
    }
}



.neon-text-header {
  font-family: 'Orbitron', sans-serif;
  font-optical-sizing: auto;
  text-shadow: 0 0 10px rgba(0, 255, 251, 0.7);
}